.container {
    width: 800px;
    margin: 40px auto;
}

.container-photos {
    
    width: 800px;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.photo {
    width: 200px;
    height: 300px;
    margin: 10px;
    border-radius: 5px;
}

.spinner {
    margin-top: 40px;
    border: 16px solid rgba( 0, 0, 0, 0.1 );
    border-left-color: #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}