/* reset */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
button {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
* {
  box-sizing: border-box;
}

/* header */
.header {
  padding: 16px calc((100% - 1200px) / 2);
  margin-bottom: 64px;
  background-color: #252525;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header a {
  color: #fff;
}

.nav-menu ul {
  display: flex;
  flex-wrap: wrap;
}

.a-brand {
  margin-left: 16px;
  font-size: 2rem;
}

.nav-menu {
  margin-right: 16px;
}

.nav-menu ul li {
  margin-left: 16px;
}

.nav-menu ul li a:hover {
  border-bottom: 2px solid #fff;
}

/* headline */

.h1-headline {
  padding: 0 calc((100% - 1200px) / 2);
  margin: 0 16px;
  margin-bottom: 80px;

  font-size: 2.2rem;
}

.nav-formaPagto {
  padding: 0 calc((100% - 1200px) / 2);
  margin: 0 16px;
}

.nav-formaPagto button {
  border: 1px solid blue;
  padding: 8px;
  background-color: #fff;
  color: blue;
}

.nav-formaPagto .button-pagtoMensal {
  background-color: blue;
  color: #fff;
}

.button-pagtoAnual span {
  background-color: yellow;
  padding: 4px 6px;
  border-radius: 5px;
  font-size: 0.675rem;
  color: #252525;
}

/* main-planosPagto */

.main-planosPagto {
  margin: 32px 16px 160px 0;
  padding: 0 calc((100% - 1200px) / 2);
  color: #7c7c7c;

  display: flex;
  justify-content: space-between;
}

.section-planosPagto {
  padding: 16px 16px;
  width: 100%;
  width: 280px;
}

.section-planosPagto h1 {
  font-size: 1.5rem;
  color: #2e2e2e;

  margin-bottom: 8px;
}

.section-planosPagto h3 {
  font-size: 0.9rem;
  font-weight: 400;
  color: currentColor;
  margin-bottom: 24px;
}

.section-planosPagto h2 {
  font-size: 1rem;
  color: #2e2e2e;
  margin-bottom: 4px;
}

.section-valorPlano span {
  font-weight: 400;
}

.section-planosPagto h5 {
  font-size: 0.675rem;
  color: currentColor;
}

.section-planosPagto button {
  margin: 24px 0;
  padding: 12px 16px;
  width: 250px;
  border: 1px solid blue;
  background-color: #fff;

  position: relative;
  left: 50%;
  transform: translateX(-50%);

  color: blue;
  font-family: "Quantico", sans-serif;
}

.section-planosPagto button:hover {
  background-color: yellow;
}

.section-planosPagto h6 {
  text-transform: uppercase;
  color: #2e2e2e;
  margin-bottom: 8px;
}

.section-planosPagto ul li {
  font-size: 0.95rem;
  color: currentColor;
  margin-bottom: 8px;
}

/* plano-profissional */

.section-planoProfissional {
  background-color: #f0f0f0;
}

.section-planoProfissional .div-destaque {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.section-planoProfissional .div-destaque span {
  font-size: 0.675rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1;
  color: #2e2e2e;
  background-color: yellow;
  padding: 2px;
  border: 2px solid #f0f0f0;
  border-top: 10px solid #f0f0f0; /* hack */
}

.section-planoProfissional button {
  background-color: blue;
  color: #fff;
}

.section-planoProfissional button:hover {
  color: blue;
}

/* plano-empresarial */

.section-planoEmpresarial h2 {
  font-weight: 400;
}

/* footer */
.footer {
  background-color: #252525;
  padding: 16px calc((100% - 1200px) / 2);

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer p,
.footer a {
  color: #f0f0f0;
}
.footer p {
  margin-left: 16px;
}

.footer nav {
  margin-right: 16px;
}

.footer nav ul {
  display: flex;
  flex-wrap: wrap;
}

.footer nav ul li {
  margin-left: 16px;
}

@media (max-width: 1150px) {
  .main-planosPagto {
    flex-direction: column;

    margin-left: 16px;
  }

  .section-planosPagto {
    border: 1px solid #f0f0f0;
    display: flex;
    flex-grow: 1;

    width: 100%;
    margin-bottom: 16px;
  }

  .section-valorPlano,
  .section-caracteristicaPlano {
    margin-right: 80px;
    width: 300px;
  }

  .section-valorPlano button {
    position: static;
    transform: translateX(0);
  }

  .section-caracteristicaPlano {
    transform: translateY(32px);
  }
}

@media (max-width: 768px) {
  .header .a-brand {
    margin-bottom: 16px;
  }
  .header .nav-menu {
    width: 100%;
  }
  .header .nav-menu ul li {
    border: 1px solid #fff;
    width: 100%;
    margin-bottom: 16px;
  }

  .header .nav-menu ul li a {
    width: 100%;
    display: block;
    padding: 8px;
  }

  .header .nav-menu ul li a:hover {
    color: #252525;
    background-color: #fff;
  }

  .nav-menu ul li a:hover {
    border-bottom: none;
  }

  .section-planosPagto {
    flex-direction: column;
  }

  .section-valorPlano,
  .section-caracteristicaPlano {
    width: 100%;
    margin: 0px;
  }

  .section-caracteristicaPlano {
    transform: translateY(0px);
  }

  .section-planosPagto button {
    width: 100%;
  }

  .footer .p-copyright {
    margin-bottom: 16px;
  }
}
